<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="ur_srdf" params="">
    <!-- Manipulator group -->
    <group name="manipulator">
      <chain base_link="base_link" tip_link="grasp_link" />
    </group>

    <!-- New group for the gripper -->
    <group name="robotiq_gripper">
      <chain base_link="robotiq_85_base_link" tip_link="robotiq_85_left_finger_tip_link"/>
      <chain base_link="robotiq_85_base_link" tip_link="robotiq_85_right_finger_tip_link"/>
      <chain base_link="robotiq_85_base_link" tip_link="robotiq_85_left_inner_knuckle_link"/>
      <chain base_link="robotiq_85_base_link" tip_link="robotiq_85_right_inner_knuckle_link"/>
      <chain base_link="robotiq_85_base_link" tip_link="grasp_link"/>
    </group>

    <!--GROUP STATES: Purpose: Define a named state for a particular group, in terms of joint values. This is useful to define states like 'folded arms'-->
    <group_state name="open" group="robotiq_gripper">
      <joint name="robotiq_85_left_finger_tip_joint" value="0" />
      <joint name="robotiq_85_left_inner_knuckle_joint" value="0" />
      <joint name="robotiq_85_left_knuckle_joint" value="0" />
      <joint name="robotiq_85_right_finger_tip_joint" value="0" />
      <joint name="robotiq_85_right_inner_knuckle_joint" value="0" />
      <joint name="robotiq_85_right_knuckle_joint" value="0" />
    </group_state>

    <group_state name="close" group="robotiq_gripper">
      <joint name="robotiq_85_left_finger_tip_joint" value="-0.7929" />
      <joint name="robotiq_85_left_inner_knuckle_joint" value="0.7929" />
      <joint name="robotiq_85_left_knuckle_joint" value="0.7929" />
      <joint name="robotiq_85_right_finger_tip_joint" value="0.7929" />
      <joint
        name="robotiq_85_right_inner_knuckle_joint"
        value="-0.7929"
      />
      <joint name="robotiq_85_right_knuckle_joint" value="-0.7929" />
    </group_state>

    <!--END EFFECTOR: Purpose: Represent information about an end effector.-->
    <end_effector name="moveit_ee" parent_link="tool0" group="robotiq_gripper" />

    <!--VIRTUAL JOINT: Purpose: this element defines a virtual joint between a robot link and an external frame of reference (considered fixed with respect to the robot)-->
    <virtual_joint
      name="fixed_base"
      type="fixed"
      parent_frame="world"
      child_link="base_link"
    />
    <!--PASSIVE JOINT: Purpose: this element is used to mark joints that are not actuated-->
    <passive_joint name="robotiq_85_left_finger_tip_joint" />
    <passive_joint name="robotiq_85_right_inner_knuckle_joint" />
    <passive_joint name="robotiq_85_right_finger_tip_joint" />
    <passive_joint name="robotiq_85_left_inner_knuckle_joint" />

    <!--DISABLE COLLISIONS: By default it is assumed that any link of the robot could potentially come into collision with any other link in the robot. This tag disables collision checking between a specified pair of links. -->
    <disable_collisions
      link1="base_link_inertia"
      link2="shoulder_link"
      reason="Adjacent"
    />
    <disable_collisions
      link1="forearm_link"
      link2="upper_arm_link"
      reason="Adjacent"
    />
    <disable_collisions
      link1="forearm_link"
      link2="wrist_1_link"
      reason="Adjacent"
    />
    <disable_collisions
      link1="forearm_link"
      link2="wrist_2_link"
      reason="Never"
    />
    <disable_collisions
      link1="realsense_camera_adapter_link"
      link2="robotiq_85_base_link"
      reason="Never"
    />
    <disable_collisions
      link1="realsense_camera_adapter_link"
      link2="robotiq_85_left_finger_link"
      reason="Never"
    />
    <disable_collisions
      link1="realsense_camera_adapter_link"
      link2="robotiq_85_left_finger_tip_link"
      reason="Never"
    />
    <disable_collisions
      link1="realsense_camera_adapter_link"
      link2="robotiq_85_left_inner_knuckle_link"
      reason="Never"
    />
    <disable_collisions
      link1="realsense_camera_adapter_link"
      link2="robotiq_85_left_knuckle_link"
      reason="Never"
    />
    <disable_collisions
      link1="realsense_camera_adapter_link"
      link2="robotiq_85_right_finger_link"
      reason="Never"
    />
    <disable_collisions
      link1="realsense_camera_adapter_link"
      link2="robotiq_85_right_finger_tip_link"
      reason="Never"
    />
    <disable_collisions
      link1="realsense_camera_adapter_link"
      link2="robotiq_85_right_inner_knuckle_link"
      reason="Never"
    />
    <disable_collisions
      link1="realsense_camera_adapter_link"
      link2="robotiq_85_right_knuckle_link"
      reason="Never"
    />
    <disable_collisions
      link1="realsense_camera_adapter_link"
      link2="tool_changer_link"
      reason="Adjacent"
    />
    <disable_collisions
      link1="realsense_camera_adapter_link"
      link2="ur_to_robotiq_link"
      reason="Adjacent"
    />
    <disable_collisions
      link1="realsense_camera_adapter_link"
      link2="wrist_1_link"
      reason="Never"
    />
    <disable_collisions
      link1="realsense_camera_adapter_link"
      link2="wrist_2_link"
      reason="Never"
    />
    <disable_collisions
      link1="realsense_camera_adapter_link"
      link2="wrist_3_link"
      reason="Never"
    />
    <disable_collisions
      link1="realsense_camera_adapter_link"
      link2="wrist_mounted_camera_link"
      reason="Adjacent"
    />
    <disable_collisions
      link1="robotiq_85_base_link"
      link2="robotiq_85_left_finger_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_base_link"
      link2="robotiq_85_left_finger_tip_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_base_link"
      link2="robotiq_85_left_inner_knuckle_link"
      reason="Adjacent"
    />
    <disable_collisions
      link1="robotiq_85_base_link"
      link2="robotiq_85_left_knuckle_link"
      reason="Adjacent"
    />
    <disable_collisions
      link1="robotiq_85_base_link"
      link2="robotiq_85_right_finger_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_base_link"
      link2="robotiq_85_right_finger_tip_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_base_link"
      link2="robotiq_85_right_inner_knuckle_link"
      reason="Adjacent"
    />
    <disable_collisions
      link1="robotiq_85_base_link"
      link2="robotiq_85_right_knuckle_link"
      reason="Adjacent"
    />
    <disable_collisions
      link1="robotiq_85_base_link"
      link2="tool_changer_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_base_link"
      link2="ur_to_robotiq_link"
      reason="Adjacent"
    />
    <disable_collisions
      link1="robotiq_85_base_link"
      link2="wrist_1_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_base_link"
      link2="wrist_2_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_base_link"
      link2="wrist_3_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_base_link"
      link2="wrist_mounted_camera_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_left_finger_link"
      link2="robotiq_85_left_finger_tip_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_left_finger_link"
      link2="robotiq_85_left_inner_knuckle_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_left_finger_link"
      link2="robotiq_85_left_knuckle_link"
      reason="Adjacent"
    />
    <disable_collisions
      link1="robotiq_85_left_finger_link"
      link2="robotiq_85_right_finger_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_left_finger_link"
      link2="robotiq_85_right_finger_tip_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_left_finger_link"
      link2="robotiq_85_right_inner_knuckle_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_left_finger_link"
      link2="robotiq_85_right_knuckle_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_left_finger_link"
      link2="tool_changer_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_left_finger_link"
      link2="ur_to_robotiq_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_left_finger_link"
      link2="wrist_1_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_left_finger_link"
      link2="wrist_2_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_left_finger_link"
      link2="wrist_3_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_left_finger_link"
      link2="wrist_mounted_camera_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_left_finger_tip_link"
      link2="robotiq_85_left_inner_knuckle_link"
      reason="Adjacent"
    />
    <disable_collisions
      link1="robotiq_85_left_finger_tip_link"
      link2="robotiq_85_left_knuckle_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_left_finger_tip_link"
      link2="robotiq_85_right_finger_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_left_finger_tip_link"
      link2="robotiq_85_right_finger_tip_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_left_finger_tip_link"
      link2="robotiq_85_right_inner_knuckle_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_left_finger_tip_link"
      link2="robotiq_85_right_knuckle_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_left_finger_tip_link"
      link2="tool_changer_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_left_finger_tip_link"
      link2="ur_to_robotiq_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_left_finger_tip_link"
      link2="wrist_1_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_left_finger_tip_link"
      link2="wrist_2_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_left_finger_tip_link"
      link2="wrist_3_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_left_finger_tip_link"
      link2="wrist_mounted_camera_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_left_inner_knuckle_link"
      link2="robotiq_85_left_knuckle_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_left_inner_knuckle_link"
      link2="robotiq_85_right_finger_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_left_inner_knuckle_link"
      link2="robotiq_85_right_finger_tip_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_left_inner_knuckle_link"
      link2="robotiq_85_right_inner_knuckle_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_left_inner_knuckle_link"
      link2="robotiq_85_right_knuckle_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_left_inner_knuckle_link"
      link2="tool_changer_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_left_inner_knuckle_link"
      link2="ur_to_robotiq_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_left_inner_knuckle_link"
      link2="wrist_1_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_left_inner_knuckle_link"
      link2="wrist_2_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_left_inner_knuckle_link"
      link2="wrist_3_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_left_inner_knuckle_link"
      link2="wrist_mounted_camera_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_left_knuckle_link"
      link2="robotiq_85_right_finger_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_left_knuckle_link"
      link2="robotiq_85_right_finger_tip_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_left_knuckle_link"
      link2="robotiq_85_right_inner_knuckle_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_left_knuckle_link"
      link2="robotiq_85_right_knuckle_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_left_knuckle_link"
      link2="tool_changer_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_left_knuckle_link"
      link2="ur_to_robotiq_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_left_knuckle_link"
      link2="wrist_1_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_left_knuckle_link"
      link2="wrist_2_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_left_knuckle_link"
      link2="wrist_3_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_left_knuckle_link"
      link2="wrist_mounted_camera_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_right_finger_link"
      link2="robotiq_85_right_finger_tip_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_right_finger_link"
      link2="robotiq_85_right_inner_knuckle_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_right_finger_link"
      link2="robotiq_85_right_knuckle_link"
      reason="Adjacent"
    />
    <disable_collisions
      link1="robotiq_85_right_finger_link"
      link2="tool_changer_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_right_finger_link"
      link2="ur_to_robotiq_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_right_finger_link"
      link2="wrist_1_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_right_finger_link"
      link2="wrist_2_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_right_finger_link"
      link2="wrist_3_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_right_finger_link"
      link2="wrist_mounted_camera_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_right_finger_tip_link"
      link2="robotiq_85_right_inner_knuckle_link"
      reason="Adjacent"
    />
    <disable_collisions
      link1="robotiq_85_right_finger_tip_link"
      link2="robotiq_85_right_knuckle_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_right_finger_tip_link"
      link2="tool_changer_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_right_finger_tip_link"
      link2="ur_to_robotiq_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_right_finger_tip_link"
      link2="wrist_1_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_right_finger_tip_link"
      link2="wrist_2_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_right_finger_tip_link"
      link2="wrist_3_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_right_finger_tip_link"
      link2="wrist_mounted_camera_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_right_inner_knuckle_link"
      link2="robotiq_85_right_knuckle_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_right_inner_knuckle_link"
      link2="tool_changer_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_right_inner_knuckle_link"
      link2="ur_to_robotiq_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_right_inner_knuckle_link"
      link2="wrist_1_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_right_inner_knuckle_link"
      link2="wrist_2_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_right_inner_knuckle_link"
      link2="wrist_3_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_right_inner_knuckle_link"
      link2="wrist_mounted_camera_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_right_knuckle_link"
      link2="tool_changer_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_right_knuckle_link"
      link2="ur_to_robotiq_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_right_knuckle_link"
      link2="wrist_1_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_right_knuckle_link"
      link2="wrist_2_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_right_knuckle_link"
      link2="wrist_3_link"
      reason="Never"
    />
    <disable_collisions
      link1="robotiq_85_right_knuckle_link"
      link2="wrist_mounted_camera_link"
      reason="Never"
    />
    <disable_collisions
      link1="shoulder_link"
      link2="upper_arm_link"
      reason="Adjacent"
    />
    <disable_collisions
      link1="tool_changer_link"
      link2="ur_to_robotiq_link"
      reason="Never"
    />
    <disable_collisions
      link1="tool_changer_link"
      link2="wrist_1_link"
      reason="Never"
    />
    <disable_collisions
      link1="tool_changer_link"
      link2="wrist_2_link"
      reason="Never"
    />
    <disable_collisions
      link1="tool_changer_link"
      link2="wrist_3_link"
      reason="Adjacent"
    />
    <disable_collisions
      link1="tool_changer_link"
      link2="wrist_mounted_camera_link"
      reason="Never"
    />
    <disable_collisions
      link1="ur_to_robotiq_link"
      link2="wrist_1_link"
      reason="Never"
    />
    <disable_collisions
      link1="ur_to_robotiq_link"
      link2="wrist_2_link"
      reason="Never"
    />
    <disable_collisions
      link1="ur_to_robotiq_link"
      link2="wrist_3_link"
      reason="Never"
    />
    <disable_collisions
      link1="ur_to_robotiq_link"
      link2="wrist_mounted_camera_link"
      reason="Never"
    />
    <disable_collisions
      link1="wrist_1_link"
      link2="wrist_2_link"
      reason="Adjacent"
    />
    <disable_collisions
      link1="wrist_1_link"
      link2="wrist_3_link"
      reason="Never"
    />
    <disable_collisions
      link1="wrist_1_link"
      link2="wrist_mounted_camera_link"
      reason="Never"
    />
    <disable_collisions
      link1="wrist_2_link"
      link2="wrist_3_link"
      reason="Adjacent"
    />
    <disable_collisions
      link1="wrist_2_link"
      link2="wrist_mounted_camera_link"
      reason="Never"
    />
    <disable_collisions
      link1="wrist_3_link"
      link2="wrist_mounted_camera_link"
      reason="Never"
    />
  </xacro:macro>
</robot>